section.error {
    box-sizing: border-box;
}

section.error h3{	
	display: block;
	height: 20px;
	margin: 0 0 5px 0;
	font-size: 2em; 
}

section.error .go-back b {
    display:block;
    margin-top:1em;
    padding:1em;
    background-color:white;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}











.ajax-file-upload-progress-bar {
	display:none;
	position: absolute;
	top: 4px;
	left: 5px;
	width: 83px;
	height: 17px;
	padding: 0;
	background-color:#f1f1f1;
	font-size: .9em;
	z-index: 1;
	overflow: hidden;
	box-sizing: border-box;
}
.ajax-file-upload-progress-bar .bar {
	border: 1px;
	border-radius: 2px;
	background-color:#f0f0ff;
}
.ajax-file-upload-progress-bar .percent {
	display: inline-block;
	padding: 2px 0;
	background-color: lightgreen;
	text-align: center;	
	white-space:nowrap;
}