.library-admin-page{
    /*padding:10px;*/
    background-color:#ffffff;
}

.library-admin-page .title{
	padding: 10px;
	margin-bottom:10px;
	background-color: #003366;
	color: #ffffff;	
	font-size: 1.5em;
	text-align: center;	
}

.library-admin-page .content-wrapper{
	padding:0 10px 10px 10px;
}

.library-admin-page .content-wrapper.delete-category-list .notice{	
	padding:5px 10px;
	font-size:1.3em;
	font-weight:bold;
}

.library-admin-page .content-wrapper.delete-category-list ol{
	
}

.library-admin-page .content-wrapper.delete-category-list ol li{
	padding:5px 10px;
	margin:0;
}

/*form*/
.library-admin-page form{
    display:inline-block;
}

.library-admin-page form .row{
    display:inline-block;
}

.library-admin-page input[type='text']{
    padding:4px 5px;
    border:1px solid #003366;
    box-sizing:border-box;
}

.library-admin-page input[type='submit'], .command{
	display: inline-block;
	padding:5px 10px;
	/*border: 1px solid #003366;*/
	border-radius:2px;
	background-color: #003366;	
	/*color: #003366;*/
	color:#ffffff;
	box-sizing:border-box;
	cursor:pointer;
}

.library-admin-page input[type='submit']{
	border:0;
}

.library-admin-page input[type='submit']:hover, .library-admin-page .command:hover{
	color:yellow;
}


.library-admin-page .form-update{
	margin-right:3px;
}

.library-admin-page .form-update input[type='text']{
    margin-right:5px;
    width:150px;
}

/*eo form*/
.library-table{
	margin-top:10px;	
}

.library-table tr.header{
	font-size:1.2em;
	font-weight:bold;
	background-color:#d5d5d5;
}

.library-table tr.header td{
	padding:5px 10px;
	color:#444444;
}

.library-table tr:nth-child( 2n + 3 ){
	background-color:#f2f2f2;
}


/*category unique*/
.library-table.category tr td:nth-child(2), .library-table tr td:nth-child(3), .library-table tr td:nth-child(4){
	text-align:center;	
}

.library-admin-page .category{	
    padding:10px;
	margin-bottom:0;
	box-sizing:border-box;
	white-space:nowrap;
}

.library-admin-page .category .button-wrapper{
	display:inline;
}
/*eo category unique*/
.library-table.member, .library-table.item{
	text-align:center;
}

.library-table td > span{
	display:block;
	padding:10px;
}

.library-page{	
	background-color:#ffffff;
}

.library-page .title{
	padding: 10px;
	margin-bottom: 10px;
	background-color: #1886c5;
	color: #ffffff;
	font-size: 1.5em;
	text-align: center;
}

.library-page .content{	
	padding:0 10px 10px 10px;
}

.library-page .content.front-page .menu-list{	
	margin-bottom:10px;
}

.library-page .content.front-page .menu-list .menu > a{	
	display:inline-block;
	padding:5px 10px;
}

.library-page .form-label{	
	margin-bottom: 3px;
	font-size: 1.2em;
	font-weight: bold;
	color: #4b4b4b;
}

.library-page .form-description{	
	margin: 0 0 2px 3px;
	color: #818181;
}

.category .command.cancel{
	margin:0 15px 0 3px;
	/*font-weight:bold;*/
}
/*eo form*/

/*category-name*/
.library-admin-page .label{
	font-weight:normal
}

.library-admin-page .label .category-name{	
	display:inline-block;
    margin:5px 5px 3px 0;
	font-weight:bold;
	/*font-size:1.3em;*/
}

.library-admin-page .label .name.user-profile{
	font-weight:bold;
	color:blue;
}
/*eo category-name*/

/*category-list*/
.category-list{
	
}

.category-list .root-form-wrapper{
    
}

.category-list .category .label input[type='submit']{
    font-weight:normal;
}

.category-list .category .label .command{
    font-weight:normal;
}

/*error*/
.error{	
	text-align:center;
}

.error .row{	
	padding:5px;
	border:1px solid red;
	color:red;
	background-color:#f2f2f2;
}
/*eo error*/

/*override*/
fieldset{
	border:0;
}
/*eo override*/

