{% import dir_macro ~ '/html.html.twig' as html  %}
<h1>Welcome to Library Module</h1>
{% if data.error %}
    {{ html.error(data) }}
{% else %}
    &gt; <a href='/library/theme'>Theme</a><br>
    &gt; <a href='/library/category/admin'>Category</a><br>
{% endif %}

