<section role='page'>
    <section role="header">
        <h2>Member Register</h2>
    </section>
    <section role='content'>
        {% include 'modules/library/templates/member.form.html.twig' %}
    </section>
    <section role="footer">
        This is footer
    </section>
</section>