<h1>We Admin Page</h1>


{% if data.error %}
    {{ html.error(data) }}
{% else %}
    &gt; <a href='/library/theme'>Multi Domain & Multi Theme</a><br>
    &gt; <a href='/library/category/admin'>Category</a><br>
    &gt; <a href='/we/admin/member'>Member List</a><br>
{% endif %}

