{#
    - for admin, data.domains will be the value to show.
    - for site admin, data.members will be the value to show.

#}



{% if data.domains %}
    <div>No of Member by Domain</div>
    <hr>
    {% for domain in data.domains %}
        <div>
            {{ domain.group_id }} : {{ domain.cnt }}
            [ <a href="/we/admin/member?domain={{ domain.group_id }}">View</a> ]
        </div>
    {% endfor %}
{% elseif data.members %}
    <div>Members</div>
    <hr>
    {% for member in data.members %}
        {{ member.name.value }},
    {% endfor %}
{% endif %}